<style>

  img {
    width: 300px;
    height: 160px;
    padding: 10px;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink=""
      ><img
        id="logo"
        src="./assets/travel.svg"
        alt="logo"
        style="width: 80px; height: auto"
    /></a>
    <a
      class="nav-link px-2 text-warning link-underline-opacity-25 link-underline-opacity-100-hover"
      routerLink=""
    >
      <h1>Lära Länder</h1>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-collapse"
      aria-controls="nav-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="nav-collapse">
      <ul class="navbar-nav mx-5">
        <li class="nav-item mx-auto">
          <a
            id="hem"
            class="nav-link px-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            routerLink=""
            >HEM</a
          >
        </li>
        <li class="nav-item mx-auto">
          <a
            id="countries"
            class="nav-link px-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            routerLink="/countries"
            >LÄNDER</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="main d-flex flex-grow-1"><router-outlet /></main>
<footer>
  <nav class="navbar navbar-dark bg-dark mx-auto">
    <div class="collapse navbar-collapse d-flex mx-auto">
      <span class="navbar-text mx-auto">© 2024 Copyright: Lära Länder</span>
    </div>
  </nav>
</footer>
